html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #003366;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.resume {
  max-width: 1000px;
  background-color: white;
  margin: 80px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.resume-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.resume-header a {
  color: blue !important;
  text-decoration: underline !important;
  display: inline-block !important;
}

.resume-header p.information {
  margin: 0;
  padding: 0;
  text-align: right;
}

.description {
  flex-grow: 1;
}

.information {
  white-space: nowrap; 
  text-align: right;
  min-width: 120px;
}

.visitor {
  margin-left: 20px;
}

.info {
  white-space: nowrap; 
  text-align: right;
  min-width: 120px;
  color: blue !important;
  text-decoration: underline !important;
  display: inline-block !important;
}

